*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    font-family: 'Poppins', sans-serif;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.5rem;
    background-color: rgb(225,46,41);;
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 40px 100px;
    z-index: 100000;
}
header .logo {
    position: relative;
    font-weight: 700;
    color: #ffffff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: 0.6s;
}
header ul{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    position: relative;
    list-style: none;
}
header ul li a{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #ffffff;
    letter-spacing: 2px;
    font-size: 1.3em;
    font: weight 500px;
    transition: 0.6s;
}

/* form */

.form-container{

   margin-top: 1%;
   width: 100%;
   display: flex;
   flex-wrap: wrap; 
   justify-content: space-around;
   font-size: larger;
   padding: 5px;
   text-align: center;
   background-color: rgb(34, 17, 42);
   overflow: hidden;
   box-shadow: 0 0 20px rgba(12, 1, 1, 0.15);
   
   

}
#form .input{
    height: 35px;
    width: 250px;
    text-align: center;
    margin-top: 20px;
    margin-left: 3px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 3px;
    box-sizing: content-box;
    border: none;
}
.from-btn{
    height: 35px;
    width: 150px;
    text-align: center;
    background-color: #cb0d0d;
    color: #ffffff;
    padding: 3px;
    border: none;
  }

  .header-h1{
    text-align: center;
    margin-top: 6%;
    font-size: 10px;
    background-color: rgb(22, 14, 14);
    color: white;
    padding: 7px;
    
  }
/* table style */

.content-table {
    border-collapse: collapse;
   
     margin-top: 10px;
     margin-left: 35px;
   
    font-size: 0.9em;
    min-width: 92%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color:#cb0d0d;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}



td button{
    height: 20px;
    width: 100px;
    background-color: #cb0d0d;
    color: #ffffff;
    border: none;
}